{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% block head_css %}
{{super()}}
<style>
    .jumbotron {
    position: relative;
    background: #000 url("/static/img/banner.png") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}
</style>
{%  endblock %}

<div class="jumbotron">
<div class="container">
    <div id="banner" class="row">
        <div style="height: 350px;" class="col-sm-10 col-sm-offset-2">
            {% if not current_user.is_authenticated() %}
            <p class="lead">
                <strong>{{_('Authentication')}}</strong>
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="{{ url_for('security.login') }}">{{_('Login')}}</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock body %}